body {
    background-color: #023047;
}

#logo {
    font-family: 'Alfa Slab One', cursive;
    color: white;
    font-weight: 100;
    font-size: 3em;

}

#new-note-button {
    background-color: white;
    font-size: 2em;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    height: max-content;
    border: 3px solid black;
    border-radius: 6%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0 2%;
}

.note-box {
    background-color: white;
    min-height: 15em;
    width: 20%;
    margin: 2% 0 2%;
    border: 2px solid black;
    border-radius: 2%;
}

.note-section {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2% 0 2%;
    gap: 4%;
    font-family: 'Prompt', sans-serif;
}

.note-headings {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.notes {
    padding: 0 4% 0 4%;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-form {
    display: none;
    flex-direction: column;
    width: 20em;
    background-color: white;
    padding: 1.5%;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    text-align: left;
    border: 2px solid black;
    border-radius: 2%;
}

.input-title, .input-note {
    font-size: 1em;
    margin: 2% 0 2% 0;
}

.buttons {
    display: flex;
    gap: 4%;
    margin-top: 8%;
}

.submit-button, .close-button {
    font-size: 0.8em;
    padding: 1.5% 5% 1.5% 5%;
    color: white;
    cursor: pointer;
}

.submit-button {
    background-color: #4BB543;
}

.close-button {
    background-color: #f32013;
}