*{
    margin:0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
}

body {
    background-color: #f6f6f9;
}

header {
    margin: 0.8rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

#logo {
    font-family: 'Alfa Slab One', cursive;
    color: #363949;
    font-weight: 100;
    font-size: 3em;
}

#new-note-button {
    background-color: #363949;
    color: #dce1eb;
    font-size: 1.5em;
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 10px
}

main{
    margin: 0.8rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4%;
    padding: 2%;
}

.note-box {
    background-color: white;
    margin: 2% 0 2%;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem 0 rgba(132,139,200,0.25);
    padding: 10px;
    /* min-height: 10rem; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.note-box:hover{
    box-shadow: none;
}

.note-box footer{
    
    padding: 4% 2% 2% 2%;
    display: flex;
    justify-content: space-between;
}

.note-box footer button{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.note-headings {
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 2%;
}

.notes {
    height: 6rem;
    width: 18.5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 5% 2%;
    font-size: 1.2em;
}

@media screen and (max-width: 1350px){
    main{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px){
    main{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 450px){
    main{
        grid-template-columns: repeat(1, 1fr);
    }
}
